
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<style>
      /*　プレイヤー（再生バー）の高さ、幅、背景色の指定　*/
      .audiojs { height: 35px; background: #ffffff; width: 500px;}
      /*　再生・停止ボタンの高さ、幅、パディングの指定　*/
      .audiojs .play-pause { width: 35px; height: 35px; padding: 6px 0px 0px 4px; }
      /*　再生・停止ボタンなどの p 要素　*/
      .audiojs p { width: 50px; height: 20px; margin: -3px 0px 0px -1px; }
      /*　進行状態・ロードの状態を表示する部分　*/
      .audiojs .scrubber { background: #808080; width: 320px; height: 13px; margin: 10px; }
      /*　進行状態を表示するバーの部分　*/
      .audiojs .progress { height: 35px; width: 0px; background: #ccc; }
      /*　ロード状態を表示するバーの部分　*/
      .audiojs .loaded { height: 13px; background: #444444;}
      /*　再生時間の部分　*/
      .audiojs .time { float: left; height: 35px; line-height: 35px; }
      .audiojs .error-message { height: 35px;line-height: 24px; }
</style>

<div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
  <div class="row post-wrap">
    <div class="col-md-8">
      <div class="card-left">
            <span><h5><%= @post.caption %></h5></span>
          
          <%= audio_tag @post.audios.first.audio.file.file.sub(/#{Rails.root}\/public/,"") %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-right">
        <div class="card-right-comment">
          <div class="card-right-name">
            <%= link_to user_path(@post.user), class: "no-text-decoration" do %>
              <% if @post.user.image? %>
                <%= image_tag @post.user.image.url, class: "post-profile-icon" %>
              <% else %>
                <%= image_tag avatar_url(@post.user), class: "post-profile-icon" %>
              <% end %>
            <% end %>

            <%= link_to user_path(@post.user), class: "black-color no-text-decoration post-user-name",
              title: @post.user.username do %>
              <strong><%= @post.user.username %></strong>
            <% end %>

            <% if @post.user_id == current_user.id %>
              <%= link_to post_path(@post), method: :delete, class: "ml-auto mx-0 my-auto" do %>
                <div class="delete-post-icon">
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="comment-post-id">
            <div class="m-2">
              <div id="comment-post-<%= @post.id.to_s %>">
                <%= render 'comment_list', post: @post %>
              </div>
            </div>
          </div>
        </div>

        <div class="row parts">
          <div id="like-icon-post-<%= @post.id.to_s %>">
            
            <% if @post.liked_by(current_user).present? %>
              <%= link_to "いいねを取り消す", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
            <% else %>
              <%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %>
            <% end %>
          </div>
          
          <div id="like-text-post-<%= @post.id.to_s %>">
            <%= render "like_text", { likes: @post.likes } %>
          </div>
        </div>
        
        <div class="post-time"><%= time_ago_in_words(@post.created_at).upcase %>前</div>
        <hr>

        <div class="row parts" id="comment-form-post-<%= @post.id.to_s %>">
          <%= form_with model: [@post, Comment.new],  class: "w-100" do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>